@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
.welcome-sct {
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 100vh;
  height: 100%;
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/welcom-bgi.jpg");
}

.marg-hello {
  padding-top: 30px;
}

.header {
  height: 75px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: static;
}

.heder-nav {
  margin: 0;
  padding: 0;
}

.heder-nav:last-child {
  margin-right: -30px;
}

.heder-nav li {
  list-style: none;
  margin: 10px;
}

.heder-nav a {
  color: #31353e;
  padding: 8px 11px;
}

.heder-nav a:hover {
  background-color: #dd4b2b;
  color: #edeff1;
  -webkit-border-radius: 27px;
          border-radius: 27px;
}

.hello {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-family: Roboto Slab serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  line-height: 48px;
}

.hello h1 {
  font-size: 72px;
  font-weight: 300;
}

.hello p {
  font-weight: 700;
}

.point-style {
  margin-top: 75px !important;
  color: #ffffff;
  text-align: center;
}

.point-style h3 {
  padding: 15px 0;
  font-family: Roboto Slab serif;
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  line-height: 24px;
}

.point-style p {
  font-size: 15px;
  font-family: Roboto sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 300;
  line-height: 30px;
}

.my-button {
  margin: 20px auto !important;
  padding: 10px 30px !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 27px !important;
          border-radius: 27px !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  color: #612316;
  font-family: Roboto Slab serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.our-news {
  margin: 0 auto;
  background-color: #edeff1;
  min-height: 100vh;
}

.our-news-heder {
  padding: 30px;
  text-align: center;
}

.square-style {
  color: #31353e;
  text-align: center;
  font-family: Roboto sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 36px;
}

.square-style div {
  margin: 30px 0 20px 0 !important;
}

.square-style div h4 {
  font-family: Roboto Slab serif;
  font-size: 24px;
  font-weight: 700;
}

.square-style div p {
  font-weight: 300;
}

.newsletter {
  -webkit-background-size: cover;
          background-size: cover;
  min-height: 380px;
  height: 100%;
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/bg-newslet.jpg");
}

.newsletter h3 {
  color: #ffffff;
  font-family: Roboto Slab serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}

.newsletter p {
  color: #ffffff;
  font-family: Roboto sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

.newsletter-maeg {
  width: 560px !important;
  padding: 50px 0;
}

.newsletter-maeg h3 {
  margin-top: 30px;
}

.form-bg {
  margin: 30px 0 0 10px !important;
  background-color: #ffffff;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  width: 510px;
  height: 55px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-bg input {
  padding: 0 !important;
  margin: 0 120px 0 -90px !important;
  color: #dd4b2b;
  font-family: Roboto Slab serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.form-bg button {
  margin: 0 -80px 0 0 !important;
  -webkit-border-radius: 27px !important;
          border-radius: 27px !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
  color: #612316;
  font-family: Roboto Slab serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.lg-nav-list {
  background-color: #d75d0e;
}

.list-block {
  padding: 50px 0 40px 0 !important;
}

.list-block a {
  color: #ffffff;
  font-family: Roboto sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
}

.list-block a:hover {
  color: #31353e;
  text-decoration: none;
}

.project-detalis {
  background-color: inherit;
  padding: 15px 0 45px 0 !important;
}

.product {
  padding-top: 25px !important;
}

.product div {
  text-align: start;
  margin: 20px !important;
}

.product button {
  background-color: #dd4b2b !important;
  color: #ffffff !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.product:nth-child(2n) {
  direction: rtl;
  padding-top: 25px !important;
}

.product:nth-child(2n) div {
  text-align: end !important;
  margin: 20px !important;
}

.product:nth-child(2n) button {
  background-color: #4b4e73 !important;
}

.ipsum-aling h3 {
  color: #191b29;
  font-family: Roboto Slab serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
}

.ipsum-aling p {
  color: #191b29;
  font-family: Roboto sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

body {
  background-color: #edeff1;
}

.container {
  max-width: 1200px !important;
  text-align: center;
  margin: 0 auto;
}

.disp-fl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.jst-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aling-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}
