@import "layoyt/variables"
@import "base/fonts"
@import "layoyt/welcome"
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab')
@import "layoyt/our-news"
@import "layoyt/newsletter"
@import "layoyt/lg-nav-list"
@import "layoyt/project-detalis"

body
  background-color: #edeff1

.container
  max-width: 1200px !important
  text-align: center
  margin: 0 auto

.disp-fl
  display: flex

.jst-between
  justify-content: space-between

.aling-center
  justify-content: center !important
  align-items: center !important



























