.welcome-sct
  max-width: 1200px
  background-image: url(/img/welcom-bgi.jpg)
  -webkit-background-size: cover
  background-size: cover

.header
  height: 150px
  align-items: center

.heder-nav a
  color: $fc-1
